*.jpg filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
large_text_20M.log filter=lfs diff=lfs merge=lfs -text
large_text_under_10M.log filter=lfs diff=lfs merge=lfs -text
heic1502a.tif filter=lfs diff=lfs merge=lfs -text
PCMWaveCarmit_under10M.bin filter=lfs diff=lfs merge=lfs -text
PCMWaveVicki_over10M.bin filter=lfs diff=lfs merge=lfs -text
